*{
    margin: 0;
}

.attribution{
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(21, 169, 196);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

/* .container .attribution{
    align-self: baseline;
} */

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: space-between; */
    gap: 100px;
    padding-top: 120px;
    padding-bottom: 30px;
    width: 350px;
    height: auto;
}

/* .header{
    margin-bottom: 30px;
} */

.card img{
    border-radius: 50px;
    z-index: 1;
    align-self: center; /*PAIN POINT 1*/
    /* justify-content: flex-end; */
    position: absolute;
    /* left: 100px; */
    /* top: 100px; */
    /* border: 1px solid black; */
    /* justify-content: center; */
}

.card header img{
    /* border-top-left-radius: 15px;
    position: absolute; */
    /* border: 1px solid black; */
    /*border-radius: 50px;
    z-index: 1;
    align-self: center; /*PAIN POINT 1*/
   /* justify-content: flex-end;
    position: absolute;*/
}

.info{
    background-color: white;
    border-radius: 15px;
    /* padding: 5px; */
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-a;
}

.stat-box{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.stats{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main{
    /* padding-bottom: 10px; */
    border: hotpink;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
}

.bold{
    /* margin-top: 5px; */
    font-weight: bold;
    font-size: 18px;
}

.tmp{
    padding-top: 10px;
}

.text{
    font-size: 10px;
}